Optativas/Internet_de_las_Cosas/Práctica 2/flujoNodeRed.json
[
    {
        "id": "6c3ed050f9fdb9f4",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84936475ee33c39a",
        "type": "mqtt in",
        "z": "6c3ed050f9fdb9f4",
        "name": "",
        "topic": "invernadero/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "248dfbffb7f9caa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "9632ecf681131d96"
            ]
        ]
    },
    {
        "id": "9632ecf681131d96",
        "type": "debug",
        "z": "6c3ed050f9fdb9f4",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "9abed7a0159e6975",
        "type": "mqtt in",
        "z": "6c3ed050f9fdb9f4",
        "name": "",
        "topic": "invernadero/ventana/estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "248dfbffb7f9caa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "503d384d75bb8633"
            ]
        ]
    },
    {
        "id": "503d384d75bb8633",
        "type": "debug",
        "z": "6c3ed050f9fdb9f4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "6e6032d55c40ebb6",
        "type": "mqtt out",
        "z": "6c3ed050f9fdb9f4",
        "name": "",
        "topic": "invernadero/ventana/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "248dfbffb7f9caa5",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "a74f27e5857786fa",
        "type": "debug",
        "z": "6c3ed050f9fdb9f4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "c5d481163e02cf7e",
        "type": "ui_switch",
        "z": "6c3ed050f9fdb9f4",
        "name": "",
        "label": "Control ventana",
        "tooltip": "",
        "group": "cd7bb2cc128f8931",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"payload\":\"abrir\",\"topic\":\"control\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"payload\":\"cerrar\",\"topic\":\"control\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "6e6032d55c40ebb6",
                "a74f27e5857786fa"
            ]
        ]
    },
    {
        "id": "248dfbffb7f9caa5",
        "type": "mqtt-broker",
        "name": "Docker local",
        "broker": "192.168.0.69",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cd7bb2cc128f8931",
        "type": "ui_group",
        "name": "VENTANA",
        "tab": "04d26952957c901f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "04d26952957c901f",
        "type": "ui_tab",
        "name": "Invernadero",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]